name: JS

permissions:
  contents: read
  pull-requests: write

on:
  merge_group:
    types: [checks_requested]
  pull_request:
    paths:
      - '**.js'
      - '**.ts'
      - 'package.json'
      - '**/bun.lock'

concurrency:
  group: ci-${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      # @v2
      - uses: oven-sh/setup-bun@ab8cb4e8f89912a29b87e4abc4554f2301648a5c
      - run: bun ci

      - name: eslint
        run: "bun run lint"

      - name: typecheck
        run: "bun run typecheck"

      - name: test
        run: "bun run test"
